*{
  margin: 0;
}

body{
  font-family: "Open Sans", sans-serif;
  background: #ddd;

}

.container{
  display: flex;
  /* justify-content: center; */
  width: 80vw;
  margin: 0 auto;
}

.card{
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.left-content{
  width: 60%;
}

.content{  
  /* width: 800px; */
  /* margin: 0 auto; */
  /* padding: 30px; */
}

.introduction {
  display: flex;
  justify-content: center;
  /* height: 350px; */
}

.introduction .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction .content .photo-profile{
  border-radius: 50%;
  border: 6px solid rgb(255, 255, 255);
}

.introduction .content .social-media a{
  margin: 0 5px;
  text-decoration: none;
}

.biodata {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.biodata .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.biodata .content .list-biodata div{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  color: rgb(0, 0, 0);
}

.biodata .content .list-biodata p{
  text-align: right;
}

.biodata strong{
  margin-right: 2rem;
}

.break-line{
  margin: 1rem 0;
  height: 2px;
  background-color: rgb(201, 201, 201);
}

@media only screen and (max-width: 900px) {
  .container{
    flex-direction: column;
  }

  .left-content{
    width: 100%;
  }
}